# Default owner
* @hakatashi

mahjong/** @hakatashi
emoji-notifier/** @hakatashi
shogi/** @hakatashi
tiobot/** @hakatashi
pocky/** @kurgm
dajare/** @kurgm
ahokusa/** @kurgm
sushi-bot/** @cookie-s
tahoiya/** @hakatashi
prime/** @hakatashi
vocabwar/** @pizzacat83
ricochet-robots/** @satos---jp
scrapbox/** @hakatashi
slack-log/** @cookie-s
achievements/** @hakatashi
atcoder/** @hakatashi
channel-notifier/** @hakatashi
checkin/** @hakatashi
deploy/** @hakatashi
mail-hook/** @cookie-s
oauth/** @hakatashi
sunrise/** @hakatashi
tunnel/** @hakatashi
voiperrobot/** @kurgm
welcome/** @cookie-s
wordhero/** @hakatashi
ojigineko-life/** @cookie-s
emoxpand/** @KPCCoiL
better-custom-response/** @naan4UGen
sorting-riddles/** @n4o847
context-free/** @KPCCoiL
emoji-modifier/** @KPCCoiL
lyrics/** @hideo54
room-gacha/** @hideo54
taiko/** @kurgm
hayaoshi/** @hakatashi
twitter-dm-notifier/** @hideo54