rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /achievement_data/{document=**} {
      allow read;
    }
    match /achievement_stats_by_category/{document=**} {
      allow read;
    }
    match /achievement_stats_by_difficulty/{document=**} {
      allow read;
    }
    match /achievement_stats_by_month/{document=**} {
      allow read;
    }
    match /achievements/{document=**} {
      allow read;
    }
  }
}