name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy Firebase Configuration

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        
      - name: Setup Tools
        uses: asdf-vm/actions/install@v3

      - name: Install Dependencies
        run: npm install

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --project=production
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
